.nav__primary{
  
  width: 100%;
  .nav__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem 2rem 2rem;
    .nav__logo{
      display: flex;
      img{
        max-width: 100px;
        object-fit: contain;
        height: auto;
      }
    }
    .nav__list{
      display: none;
    }
    .deploy{
      display: flex;
      img{
        max-width: 50px;
        height: auto;
        object-fit: contain;
      }
    }
  }
}


