@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,900);
.nav__primary {
  width: 100%;
}

.nav__primary .nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem 2rem 2rem;
}

.nav__primary .nav__row .nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__primary .nav__row .nav__logo img {
  max-width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
}

.nav__primary .nav__row .nav__list {
  display: none;
}

.nav__primary .nav__row .deploy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__primary .nav__row .deploy img {
  max-width: 50px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.section1__primary {
  width: 100%;
}

.section1__primary .section1__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section1__primary .section1__content .section1__title {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.section1__primary .section1__content .section1__title h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 0 1rem;
}

.section1__primary .section1__content .section1__title p {
  font-size: 1.2rem;
  margin: 0 0 1rem;
}

.section1__primary .section1__content .section1__title .section1__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1__primary .section1__content .section1__title .section1__buttons div:nth-child(1) {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: purple;
  border-radius: 4px;
  margin: 0 0 1rem;
}

.section1__primary .section1__content .section1__title .section1__buttons div:nth-child(1) a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
}

.section1__primary .section1__content .section1__title .section1__buttons div:nth-child(2) {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: royalblue;
  border-radius: 4px;
}

.section1__primary .section1__content .section1__title .section1__buttons div:nth-child(2) img {
  left: 30px;
  position: absolute;
  max-width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: white;
}

.section1__primary .section1__content .section1__title .section1__buttons div:nth-child(2) a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
}

.section1__primary .section1__content .section1__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

.section1__primary .section1__content .section1__image img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.section2__primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 50px;
}

.section2__primary .section2__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section2__primary .section2__content .section2__character {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section2__primary .section2__content .section2__character div img {
  max-width: 100px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.section3__primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.section3__primary .section3__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 1rem;
}

.section3__primary .section3__content .section3__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  text-align: left;
}

.section3__primary .section3__content .section3__title h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 0 1rem;
}

.section3__primary .section3__content .section3__title p {
  font-size: 1rem;
  margin: 0 0 1rem;
}

.section3__primary .section3__content .section3__title .section3__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section3__primary .section3__content .section3__title .section3__buttons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section3__primary .section3__content .section3__title .section3__buttons div img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 1rem;
}

.section3__primary .section3__content .section3__title .section3__buttons div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section3__primary .section3__content .section3__image {
  display: none;
}

.section3__primary .section3__content .section3__image video {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Load google's Roboto font*/
/* Reboot */
html,
body {
  margin: 0 !important;
}

/* Typography */
body {
  font-family: "Roboto", "Helvetica Neue, Helvetica, Arial";
}

/*Convertion Ration sp to rem for html */
.base-h1 {
  font-weight: 300;
  font-size: 6rem;
  letter-spacing: -0.00098px;
}

.base-h2 {
  font-weight: 300;
  font-size: 3.75rem;
  letter-spacing: -0.00052px;
}

.base-h3 {
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 0px;
}

.base-h4 {
  font-weight: 400;
  font-size: 2.125rem;
  letter-spacing: 0.00046px;
}

.base-h5 {
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0px;
}

.base-h6 {
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 0.00047px;
}

.base-subtitle1 {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.00059px;
}

.base-subtitle2 {
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.00045px;
}

.base-body1 {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.00195px;
}

.base-body2 {
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0.00112px;
}

.base-button {
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.00335px;
  text-transform: uppercase;
}

.base-caption {
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.00208px;
}

.base-overline {
  font-weight: 400;
  font-size: 0.625rem;
  letter-spacing: 0.00937px;
  text-transform: uppercase;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */